*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.ppsx
*.mp3
*.mp4
*.mov
*.avi
*.rm
*.txt
*.chm
*.key
*.pages
*.sh
*.py
*.html
*.js
*.css
*.java

*.jpeg
*.png

*.zip
*.tar

# Mac
.DS_Store
._.DS_Store

*.cfg

# 过滤资料目录
资料/

# 不忽略的文件前面加!
!images/wx_bonus.jpeg

!词汇/Vocabulary Build Up/1000 Basic English Words/1000 Basic English Words 1.pdf
!词汇/Vocabulary Build Up/1000 Basic English Words/1000 Basic English Words 2.pdf
!词汇/Vocabulary Build Up/1000 Basic English Words/1000 Basic English Words 3.pdf
!词汇/Vocabulary Build Up/1000 Basic English Words/1000 Basic English Words 4.pdf
!词汇/CET/全国大学英语四、六级考试大纲（2016年修订版）.pdf
!课程/大学英语六级/大学英语六级词汇/CET-all.txt
!课程/大学英语四级/大学英语四级词汇/CET-plus.txt
!课程/大学英语四级/大学英语四级词汇/CET4.txt
!课程/考研/ky.txt
!课程/中考/zk.txt
