*.pdf
*.doc
*.docx
*.ppt
*.pptx
*.ppsx
*.mp3
*.mp4
*.mov
*.avi
*.rm
*.txt
*.chm
*.key
*.pages
*.sh
# *.py
*.html
*.js
*.css
*.java

*.jpeg
*.png

*.zip
*.tar

# Mac
.DS_Store
._.DS_Store

*.cfg

# 过滤资料目录
资料/

# 不忽略的文件前面加!
!images/wx_bonus.jpeg

!词汇/Corpus of Contemporary American English/COCA.txt

!词汇/Vocabulary Build Up/1000 Basic English Words/1000 Basic English Words 1.pdf
!词汇/Vocabulary Build Up/1000 Basic English Words/1000 Basic English Words 2.pdf
!词汇/Vocabulary Build Up/1000 Basic English Words/1000 Basic English Words 3.pdf
!词汇/Vocabulary Build Up/1000 Basic English Words/1000 Basic English Words 4.pdf
!词汇/Vocabulary Build Up/1000 Basic English Words/1000 Basic English Words.txt

!词汇/Vocabulary Build Up/2000 Core English Words/1/2000 Core English Words 1.txt
!词汇/Vocabulary Build Up/2000 Core English Words/2/2000 Core English Words 2.txt
!词汇/Vocabulary Build Up/2000 Core English Words/3/2000 Core English Words 3.txt
!词汇/Vocabulary Build Up/2000 Core English Words/4/2000 Core English Words 4.txt
!词汇/Vocabulary Build Up/2000 Core English Words/2000 Core English Words.txt

!词汇/Vocabulary Build Up/4000 Essential English Words/1/4000 Essential English Words 1.txt
!词汇/Vocabulary Build Up/4000 Essential English Words/2/4000 Essential English Words 2.txt
!词汇/Vocabulary Build Up/4000 Essential English Words/3/4000 Essential English Words 3.txt
!词汇/Vocabulary Build Up/4000 Essential English Words/4/4000 Essential English Words 4.txt
!词汇/Vocabulary Build Up/4000 Essential English Words/5/4000 Essential English Words 5.txt
!词汇/Vocabulary Build Up/4000 Essential English Words/6/4000 Essential English Words 6.txt
!词汇/Vocabulary Build Up/4000 Essential English Words/4000 Essential English Words.txt

!词汇/CET/全国大学英语四、六级考试大纲（2016年修订版）.pdf

!课程/大学英语六级/大学英语六级词汇/CET-all.txt
!课程/大学英语六级/大学英语六级词汇/CET6.txt
!课程/大学英语四级/大学英语四级词汇/CET-plus.txt
!课程/大学英语四级/大学英语四级词汇/CET4.txt
!课程/考研/ky.txt
!课程/中考/zk.txt

!课程/新概念英语/新概念英语第一册/nce1.txt
!课程/新概念英语/新概念英语第二册/nce2.txt
!课程/新概念英语/新概念英语第三册/nce3.txt
!课程/新概念英语/新概念英语第四册/nce4.txt

!课程/小学/上海/sh_primary.txt

!images/wx_word_sub.png
!images/wx_bonus_create_support.jpeg
!images/wx_marulin.jpeg
!images/xianglesong.png
!images/letter_change.jpeg

资源/Temp.md
